/* Table of contents:
    1. Overall Setup
    2. Left Side (Results Section)
    3. RIght Side (Summary Section)
    4. Accents
    5. Buttons 
    6. Media Queries */

/* ==== Overall Setup ==== */
:root {
    /* == Colors == */

    /* Primary Colors */
    --color-light-red: 0, 100%, 67%;
    --color-orangey: 39, 100%, 56%;
    --color-green-teal: 166, 100%, 37%;
    --color-cobalt: 234, 85%, 45%;


    /* Neutral Colors */
    --color-white: 0, 0%, 100%;
    --color-pale-blue: 221, 100%, 96%;
    --color-lavender: 241, 100%, 89%;
    --color-gray-blue: 224, 30%, 27%;

    /* == Typography == */
    --fw-500: 500;
    --fw-700: 700;
    --fw-800: 800;

    --fs-400: 1.125rem;
    --fs-500: 1.5rem;
    --fs-800: 1.75rem;
    --fs-900: 3.75rem;

    /* == Gradients == */
    --gradient-back: linear-gradient(184deg, hsl(252, 100%, 67%) 0%, hsl(241, 81%, 54%) 100%);
    --gradient-circle: linear-gradient(184deg, hsla(256, 72%, 46%, 1) 0%, hsla(241, 72%, 46%, 0) 100%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

html {
    font-family: 'Hanken Grotesk';
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 800px;
    margin-inline: auto;
    --border-radius: 1.125rem;
    border-radius: var(--border-radius);
    box-shadow: 0px 0px 30px 10px hsla(var(--color-gray-blue), 0.1);
}

.bold {
    font-weight: var(--fw-700);
}

.black {
    font-weight: var(--fw-800);
}

/* ==== Left Side (Result Section) ==== */

.result-circle {
    display: grid;
    align-items: center;
    border-radius: 50%;
    width: 12rem;
    aspect-ratio: 1 / 1;
    padding: 1rem;
    background: var(--gradient-circle);
}

.result-circle span {
    display: block;
    font-size: var(--fs-900);
    color: hsla(var(--color-white), 1);
}

.result-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: center;
    color: hsla(var(--color-white), 1);
    background: var(--gradient-back);
    padding: 2rem 4rem;
    border-radius: var(--border-radius);
}

.result-section>h1 {
    color: hsla(var(--color-lavender), 1);
}

/* ==== Right Side (Summary Section) ==== */

.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 3rem;
}

.summary-section ul {
    list-style: none;
}


.result-description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 25ch;
}


.flex-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.score-part {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 0.5rem;
}

.flex-group {
    display: flex;
    gap: 1rem;
}

/* ==== Accents ==== */

.larger-text {
    font-size: var(--fs-800);
}

.transparent-text {
    color: hsla(var(--color-white), 0.5);
}

.max-score {
    color: hsla(var(--color-gray-blue), 0.7);
}

/* .skill,
.individual-score {
    font-weight: var(--fw-700);
} */

.accent-1 {
    background-color: hsla(var(--color-light-red), 0.075);
}

div.accent-1 .skill {
    color: hsla(var(--color-light-red));
}

.accent-2 {
    background-color: hsla(var(--color-orangey), 0.075);
}

div.accent-2 .skill {
    color: hsla(var(--color-orangey));
}

.accent-3 {
    background-color: hsla(var(--color-green-teal), 0.075)
}

div.accent-3 .skill {
    color: hsla(var(--color-green-teal));
}

.accent-4 {
    background-color: hsla(var(--color-cobalt), 0.075)
}

div.accent-4 .skill {
    color: hsla(var(--color-cobalt));
}

.summary-section {
    color: hsla(var(--color-gray-blue, 1));
}

/* ==== Button ==== */

button {
    border-radius: 2rem;
    background-color: hsla(var(--color-gray-blue), 1);
    color: hsla(var(--color-white), 1);
    padding: 1rem;
    border: 0;
}

button:hover,
button:active {
    background: var(--gradient-back);
    cursor: pointer;
}

/* ==== Media Queries ==== */

@media (max-width: 650px) {
    main {
        display: block;
        width: 100%;
        border-top-left-radius: 0rem;
        border-top-right-radius: 0rem;
    }

    .result-section {
        border-top-left-radius: 0rem;
        border-top-right-radius: 0rem;
    }
}